@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import "header/header.css";
@import "body/body.css";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Proxima Nova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.wrapper {
  text-align: center;
  height: 100%;
}

.section {
  height: 100%;
  min-height: 2000px;
  background-color: #F2F2F7;
  padding-top: 126px;
  padding-left: 111px;
  padding-right: 111px;
  margin: 0 auto;
  /*padding: 130px 122px 24px;*/
}

.content {
  background-color: #F2F2F7;
  display: flex;
  flex-direction: column;
  /*max-width: 940px;*/
  margin: 0 auto;
  border-radius: 1px;
}

.main {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.main-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin: 16px;
  color: #8b8b8b;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.main-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 16px;
}

.right-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  color: #8b8b8b;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.right-box:first-child {
  margin-top: 0;
}

.right-box:last-child {
  margin-bottom: 0;
}